<br /><section>
<nav><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ path('sesame_site_homepage') }}" itemprop="url"><strong itemprop="title">accueil</strong></a>
</span>
{#% for page in pages %}
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ url('sesame_site_page_show', {'slug': page.slug, 'id': page.id }) }}" itemprop="url"><strong itemprop="title">{{ page.title }}</strong></a>
</span>
{% endfor %#}
{% if gallery is defined %}
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ url('sesame_site_page_show', {'slug': page.slug, 'id': page.id }) }}" itemprop="url"><strong itemprop="title">photos</strong></a>
</span>
{% endif %}
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ path('sesame_site_contact_show') }}" itemprop="url"><strong itemprop="title">devis gratuit</strong></a>
</span>
</nav>
</section>