{% extends "OmkomSiteBundle::base.html.twig" %}
{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block body %}
<section class="small-12 columns">
    <header class="small-12 columns">
        <h2>{{ site.excerpt }}</h2>
        <p>{{ site.description }}</p>
    </header>
    {% for page in pages %}
        {{ include(
            'OmkomSiteBundle:Page:detail.html.twig',
            { 'page': page }
        ) }}
    {% endfor %}
</section>
{% endblock %}

{% block aside %}
<aside class="small-12 medium-3 columns">
    {{ include( 'OmkomSiteBundle:Widget:bloc_info.html.twig' ) }}
    {{ include( 'OmkomSiteBundle:Widget:bloc_reco.html.twig', { 'recopages': recopages } ) }}
</aside>
{% endblock %}

{% block topbody %}
<script>
  (function() {
    var cx = '012487409699681360658:8rpbjhyuggg';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{{ parent() }}
{% endblock %}
            
{% block slider %}
{{ include( 'OmkomSiteBundle:Widget:bloc_slider.html.twig', { 'slider': gallery } ) }}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'homepage'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script> 
{% endblock %}