{% extends "SesameSiteBundle::base.html.twig" %}
{% block title %}{{ page.title }} {{ parent() }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body %}
<div class="row">
    {% if page.gallery %}
        {{ include( 'SesameSiteBundle:Widget:bloc_breadcrumb.html.twig', { 'pages': breadcrumb, 'gallery':page.gallery } ) }}
    {% else %}
        {{ include( 'SesameSiteBundle:Widget:bloc_breadcrumb.html.twig', { 'pages': breadcrumb } ) }}
    {% endif %}
    <article id="{{ page.id }}" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="url" content="{{ url('sesame_site_page_show', {'slug': page.slug, 'id': page.id }) }}" />
        <meta name="dateCreated" content="{{ page.created|date('Y-m-d\\TH:i:sP') }}" />
        <meta name="dateUpdated" content="{{ page.updated|date('Y-m-d\\TH:i:sP') }}" />
        
        <header class="small-12 columns">
            <h1 itemprop="name">{{ page.title }}</h1>
            <p><em itemprop="headline">{{ page.excerpt }}</em></p>
        </header>
        
        <div class="small-12 medium-12 columns">
        {% if page.media %}
            <img itemprop="image" class="right columns small-12 medium-7" src="{% path page.media, 'big' %}" alt="{{ page.excerpt }}" />
        {% endif %}
            <div itemprop="articleBody"><p>{{ page.body | raw }}</p>
            <i>Rédigé par <a itemprop="author" href="https://plus.google.com/114255073898879709025?rel=author">Christophe Provost</a></i></div>
            
        </div>

        <div></div>
        
        
    </article>
    
</div>
{% endblock %}

{% block topbody %}
<br />
<div class="clearfix"></div>
<div class="row">
<div class="small-12 columns" style="background:#333333">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gen'; // required: replace example with your forum shortname
        var disqus_title = 'Vos commentaires sont les bienvenus !';
        var disqus_identifier = '/{{ page.slug }}/';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div></div>{% endblock %}

{% block slider %}
    {% if page.gallery %}
        {{ include( 'SesameSiteBundle:Widget:bloc_slider.html.twig', { 'slider': gallery } ) }}
    {% endif %}
{% endblock %}

{% block aside %}
    {{ parent() }}
{% endblock %}