{% extends "SesameSiteBundle::base.html.twig" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body %}
<div class="row">
    <article id="{{ page.id }}" itemscope itemtype="http://schema.org/Article">
        <h1 class="small-12 columns" itemprop="name"><a href="#{{ page.id }}" itemprop="url">{{ page.title }}</a></h1>
        
        <em class="small-12 medium-6 columns" itemprop="headline">{{ page.excerpt }}</em>
        {% if page.media %}
        <div class="small-12 medium-6 columns right">
            <img itemprop="image" src="{% path page.media, 'big' %}" alt="{{ page.excerpt }}" />
        </div>
        {% endif %}

        <div class="small-12 columns">
            <div itemprop="articleBody">{{ page.body | raw }}</div>
            <br />
            <i>Ecrit par <a href="https://plus.google.com/114255073898879709025?rel=author">Christophe Provost</a></i>
        </div>
    </article>
</div>
{% endblock %}

{% block aside %}
<div class="small-12 medium-3 columns formRel">
    <aside>
        <div id="formulaire" class="small-12 medium-12 large-12 columns item">
            <h3>Contactez nos experts !</h3><br><br>
            <iframe width="200" height="500" frameborder="0" style="border:0" border="0" src="http://sesamecover.com/_contact/contact.php"></iframe>
        </div>
    </aside>
</div>
{% endblock %}