{% extends "SesameSiteBundle::base.html.twig" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body %}
<div class="row">
    <article id="{{ page.id }}">
        <h1 class="small-12 columns"><a href="#{{ page.id }}">{{ page.title }}</a></h1>
        {% if page.image %} 
        <em class="small-12 medium-6 columns">{{ page.excerpt }}</em>
        <div class="small-12 medium-6 columns">
            <figure>
                <img src="../img/article-1.png" width="" height="" alt="">
                <caption><u>Protection contre les intempéries</u></caption>
            </figure>
        </div>
        {% else %}
        <em class="small-12 columns">{{ page.excerpt }}</em>
        {% endif %}
        <div class="small-12 columns">
            {{ page.body | raw }}
            <br>
            <h6>Ecrit par <a href="https://plus.google.com/114255073898879709025?rel=author">Christophe Provost</a></h6>
        </div>
    </article>
</div>
{% endblock %}

{% block aside %}
<div class="small-12 medium-3 columns formRel">
    <aside>
        <div id="formulaire" class="small-12 medium-12 large-12 columns item">
            <h3>Contactez nos experts !</h3><br><br>
            <iframe width="200" height="500" frameborder="0" style="border:0" border="0" src="http://sesamecover.com/_contact/contact.php"></iframe>
        </div>
    </aside>
</div>
{% endblock %}