{% extends "SesameSiteBundle::base.html.twig" %}
{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block body %}
<section>
    <header><h2>{{ site.excerpt }}</h2></header>
    {% for page in pages %}
        {{ include(
            'SesameSiteBundle:Page:detail.html.twig',
            { 'page': page }
        ) }}
    {% endfor %}
</section>
{% endblock %}

{% block aside %}
{{ parent() }}
{% endblock %}

{% block slider %}
{{ include( 'SesameSiteBundle:Widget:bloc_slider.html.twig', { 'slider': slider } ) }}
{% endblock %}