<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}">
    
    <link rel="stylesheet" href="{{ asset('/bundles/sesamesite/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sesamesite/css/gen.css') }}">
    {% block stylesheets %}{% endblock %}
    
    <script src="{{ asset('/bundles/sesamesite/js/vendor/modernizr.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="{{ asset('/bundles/sesamesite/js/vendor/responsiveslides.min.js') }}"></script>
    
    <script>$(function () {
        $("#slides").responsiveSlides();
    });</script>
    <script>
      (function() {
        var cx = '012487409699681360658:8rpbjhyuggg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
</head>

<body>

{{ include('SesameSiteBundle:Widget:header.html.twig') }}
 
<div class="backgrd">
    {% block slider %}{% endblock %}
    <div class="row">
        <div class="large-9 columns" role="content">
            <gcse:search></gcse:search>
            <br/><a href="../index.php" class="left">« Retour à l'accueil</a><br /><br />
            {% block body %}{% endblock %}
        </div>

        {% block aside %}
        <aside class="large-3 columns">
            <div class="panel">
                <h5>L'entreprise Sesame</h5>
                <center><img width="50%" src="../img/logo.png" alt="abri stop intempéries"/></center>
                <br/><p>Dès le commencement, Sésame a choisi de proposer des produits de qualité et un service optimal pour la plus grande satisfaction de ses clients. 19 années d’innovations et d’avancées technologiques...</p>
                <a href="entreprise.php">En savoir +</a>
            </div>
            <div class="panel hide-for-small">
                <h5><a href="augmentation-temperature-eau.php">Augmentation de la température de l'eau »</a></h5>
            </div>
            <div class="panel hide-for-small">
                <h5><a href="diminuer-entretien-piscine.php">Diminution des opérations d'entretien de la piscine »</a></h5>
            </div>
            <div class="panel hide-for-small">
                <h5><a href="gamme-abri-piscine.php">A chacun son abri »</a></h5>
            </div>
            <div class="panel hide-for-small">
                <h5><a href="securite-piscine-nf.php">L'abri de piscine : une sécurité conforme NF P 90-309B »</a></h5>
            </div>
            <div class="panel hide-for-small">
                <h5><a href="garantie-abri-piscine.php">Garanties »</a></h5>
            </div>
            <br/><a href="../index.php" class="left">Retour à l'accueil »</a><br /><br />
        </aside>
        {% endblock %}
    </div>

    {{ include('SesameSiteBundle:Widget:footer.html.twig') }}
 
    </div>
  </div>
 {% block javascripts %}{% endblock %}
  <script>
  document.write('<script src={{ asset('/bundles/sesamesite/js/vendor') }}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="{{ asset('/bundles/sesamesite/js/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
    
    
</body>
</html>





